package components

templ Header(title string) {
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="/assets/reset.css"/>
		<link rel="stylesheet" href="/assets/vars.css"/>
		<script src="/assets/htmx.min.js" defer></script>
		{ children... }
		<title>{ title }</title>
	</head>
}
