package components

templ SelectLink(bind, url string, href templ.SafeURL) {
	<a
		id={ bind }
		class="link"
		hx-trigger="mouseover, focus"
		hx-get={ "targets/" + url }
		hx-swap="innerHTML"
		hx-target="#description"
		href={ href }
		aria-controls="description"
	>
		{ children... }
	</a>
}
