package components

templ Tab(pos, url, target string) {
	<button
		id={ pos }
		class="tab"
		hx-trigger="mouseover, click"
		hx-get={ "targets/" + url }
		hx-swap="innerHTML"
		hx-target={ target }
		aria-controls="description"
	></button>
}
