package views

import "github.com/ljmcclean/mcclean.xyz/views/components"

templ Index(name string) {
  <!DOCTYPE html>
  <html lang="en">
    @components.StdHeader("Hello, " + name + "!")
    <body>
      <p>Hello, { name }!</p>
    </body>
  </html>
}
