package views

import "github.com/ljmcclean/mcclean.xyz/views/components"

templ Index(name string) {
	@components.Document() {
		@components.Header("McClean.xyz", "index.css")
		<body>
			@components.Tab("tl", "about.html")
			@components.Tab("tr", "about.html")
			@components.Tab("bl", "about.html")
			@components.Tab("br", "about.html")
			<main>
				<h1>About</h1>
				<div class="one"></div>
				<div class="two"></div>
			</main>
		</body>
	}
}
