/* VARIABLES */
:root {
  color-scheme: light dark;

  /* Color Palette */
  --clr-txt: light-dark(#080809, #f8f8f8);
  --clr-bg: light-dark(#f8f8f8, #080809);
  --clr-p: #00ff88;
  --clr-a: #f0f;

  /* Font Sizes */
  --fs-s: clamp(1rem, 3vw + 1rem, 1.5rem);
  --fs-m: clamp(1.1rem, 2.2vw + .25rem, 2rem);
  --fs-l: clamp(2.5rem, 5vw + 1rem, 5rem);
}

/* BASE STYLES */
body {
  min-height: 100svh;
  background: var(--clr-bg);
  font-family: Arial, Helvetica, sans-serif;
}

p,
a {
  font-size: var(--fs-s);
}

h1 {
  font-size: var(--fs-l);
  font-family: 'Arial Black', Arial, Helvetica, sans-serif;
  line-height: 1;
}

h2 {
  font-size: var(--fs-l);
}

.logo {
  fill: var(--clr-txt);
}

.mono {
  font-family: 'Andale Mono', 'Courier New', Courier, monospace;

}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
