header {
  height: 100svh;
  padding: 5%;
  overflow: clip;
}

header p {
  font-size: var(--fs-m);
  line-height: 1;
}

#title-section {
  height: 100%;
  display: flex;
}

#social-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.links-line {
  width: 3px;
  flex-grow: .3;
  align-self: center;
  background: var(--clr-txt);
}

.links-line.first {
  flex-grow: 1;
}

#social-links a {
  height: 3rem;
  width: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title-cityscape {
  position: relative;
}

#title-grid-pattern {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  fill: var(--clr-txt);
}

.building {
  position: absolute;
  background: var(--clr-bg);
  bottom: 0;
  border-top: 3px solid var(--clr-txt);
  border-right: 3px solid var(--clr-txt);
  border-left: 3px solid var(--clr-txt);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#building-1 {
  left: 5%;
  height: 70%;
  width: 30%;
}

#building-2 {
  left: 50%;
  height: 40%;
  width: 15%;
  z-index: 1;
}

#building-3 {
  left: 55%;
  height: 70%;
  width: 20%;
}

#moon {
  position: absolute;
  top: -20%;
  right: 2.5%;
  height: 30vw;
  width: 30vw;
  background: radial-gradient(circle at center,
      var(--clr-txt) 50%,
      transparent 50.45%);
  z-index: -1;
}

@media (min-width: 985px) {
  header {
    display: grid;
    grid-template-columns: 45% 55%;
  }

  #title-grid-pattern {
    display: block;
  }
}
