/* PAGE */
main {
  padding-inline: 5%;
}

a {
  text-decoration: none;
  color: var(--clr-p);
}

/* TITLE SECTION */
header {
  height: 100svh;
  padding-block: 5%;
  overflow: clip;
}

header p {
  font-size: var(--fs-m);
  line-height: 1;
}

#title-section {
  height: 100%;
  display: flex;
}

#title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#title p {
  letter-spacing: .2rem;
}

#title-section img {
  height: 65%;
  border-radius: 15px;
  object-fit: cover;
}

#social-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.links-line {
  width: 3px;
  flex-grow: .3;
  align-self: center;
  background: var(--clr-txt);
}

.links-line.first {
  flex-grow: 1;
}

#social-links a {
  height: 3rem;
  width: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title-cityscape {
  position: relative;
}

#title-cityscape .grid-pattern {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
}

.building {
  display: none;
  position: absolute;
  background: var(--clr-bg);
  bottom: -.1%;
  border-top: 3px solid var(--clr-txt);
  border-right: 3px solid var(--clr-txt);
  border-left: 3px solid var(--clr-txt);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#building-1 {
  left: 5%;
  height: 70%;
  width: 30%;
}

#building-2 {
  left: 50%;
  height: 40%;
  width: 15%;
  z-index: 1;
}

#building-3 {
  left: 55%;
  height: 70%;
  width: 20%;
}

#moon {
  display: none;
  position: absolute;
  top: -20%;
  right: 1.5%;
  height: 70svh;
  width: 70svh;
  background: radial-gradient(circle at center,
      var(--clr-txt) 50%,
      transparent 50.45%);
  z-index: -1;
}

@media (min-width: 985px) {
  header {
    display: grid;
    grid-template-columns: 45% 55%;
  }

  #title-section img {
    display: none;
  }

  #title-cityscape .grid-pattern {
    display: block;
  }

  .building {
    display: block;
  }

  #moon {
    display: block;
  }
}

/* ABOUT SECTION */
#about-section {
  position: relative;
  padding-top: 5%;
  padding-bottom: 10%;
}

#about-section img {
  display: none;
  height: 80svh;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  object-fit: cover;
}

#about-section .grid-pattern {
  display: none;
  position: absolute;
  top: 5%;
  left: -1%;
  height: 10vw;
  width: 10vw;
  border-radius: 22px;
  z-index: -1;
}

#building-4 {
  display: block;
  height: 6%;
  width: 5.5%;
  bottom: 10%;
  right: 5%;
}

#about-moon {
  position: absolute;
  bottom: 14%;
  right: 1.4%;
  height: 8vw;
  width: 8vw;
  background: radial-gradient(circle at center,
      var(--clr-p) 50%,
      transparent 52%);
  z-index: -1;
}

@media (min-width: 985px) {
  #about-section {
    display: grid;
    grid-template-columns: 35% 1fr;
    align-items: center;
    justify-items: center;
    gap: 2rem;
  }

  #about-section img {
    display: block;
  }

  #about-section .grid-pattern {
    display: block;
  }

  #building-4 {
    height: 11%;
  }
}

/* ARTICLES SECTION */
#articles-section p {
  max-width: 70%;
}

/* LIGHT/DARK BUTTON */
#light-dark {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 2vw;
  width: 2vw;
  border-radius: 50%;
  background: var(--clr-bg);
  border: 2px solid var(--clr-txt);
}

footer {
  font-size: var(--fs-s);
  padding: 5%;
  opacity: .85;
}
