/* VARIABLES */
:root {
  color-scheme: light dark;

  --clr-txt: light-dark(#111, #fff);
  --clr-bg: light-dark(#fff, #111);
  --clr-p: #43592E;
  --clr-a: #81A54A;

  --fs-s: clamp(1rem, 3vw, 1.5rem);
  --fs-l: clamp(2.5rem, 10vw, 5rem);
  --fs-xxl: clamp(2rem, 18vw, 10rem);

  --sec-sep: clamp(5vh, 10vw, 15vh);
}

/* BASE STYLES */
* {
  color: var(--clr-txt);
  background: var(--clr-bg);
}

p,
a {
  font-size: var(--fs-s);
}

h1 {
  font-size: var(--fs-xxl);
}

h2 {
  font-size: var(--fs-l);
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
