/* General Styles */
body {
  margin-inline: 5%;
}

.middle-sec {
  margin-block: var(--sec-sep);
}

/* Title Section */
#title-sec {
  display: flex;
  align-items: center;
  gap: calc(var(--fs-xxl) / 3);
  height: 100vw;
  max-height: 100svh;
  line-height: 1.1;
}

#title-sec .color-bar {
  height: calc((var(--fs-xxl) + 1rem) * 2);
  width: calc(var(--fs-xxl) / 3);
  background: linear-gradient(180deg, var(--clr-p) 40%, var(--clr-a) 40%);
}

@media (max-width: 900px) {
  /* Change how title displays */
}

/* Skills Section */
#skills-sec {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-block-end: var(--sec-sep);
}

.skill {
  padding-inline: 1rem;
  border: 2px solid var(--clr-p);
  border-radius: 10px;
  background: color-mix(in srgb, var(--clr-p), transparent 80%);
}

/* About Section */
#about-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
}

#about-sec div {
  max-width: 55%;
}

#about-sec img {
  max-width: 40%;
  border-radius: 15px;
  object-fit: contain;
}

@media (max-width: 1000px) {
  #about-sec {
    flex-direction: column-reverse;
    align-items: center;
  }

  #about-sec div {
    max-width: 100%;
  }

  #about-sec img {
    max-width: 70%;
    margin-block-end: var(--sec-sep);
    object-fit: contain;
  }
}
