:root {
  --tab-size: min(15vw, 15vh);
  --tab-margin: min(10vw, 10vh);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: clip;
}

main {
  display: grid;
  grid-template-columns: 60% 1fr;
  height: calc(100vh - var(--tab-size) * 2 - var(--tab-margin) * 1.5);
  width: calc(100vw - var(--tab-size) * 3 - var(--tab-margin) * 2);
  overflow: auto;
}

h1 {
  grid-column: 1 / 3;
  font-size: var(--fs-xl);
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: end;
  padding-inline-end: 30%;
}

nav a {
  color: var(--clr-t);
  font-size: var(--fs-m);
  text-decoration: none;
  transition: all .3s ease;
}

nav a:visited {
  color: var(--clr-t);
}

@keyframes select-link {
  50% {
    opacity: .5;
  }

  100% {
    font-size: var(--fs-l);
    opacity: 1;
  }
}

.tab {
  position: fixed;
  height: var(--tab-size);
  width: var(--tab-size);
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform .3s ease;
}

.tab::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--clr-a);
  clip-path: polygon(100% 0, 90% 10%, 10% 10%, 10% 90%, 0 100%, 0 0);
}

.tab:focus {
  transform: scale(1.3, 1.3);
}

.tab:hover {
  transform: scale(1.3, 1.3);
}

@keyframes scale {
  to {
    transform: scale(1.5);
  }
}

#tl {
  top: var(--tab-margin);
  left: var(--tab-margin);
}

#tr {
  top: var(--tab-margin);
  right: var(--tab-margin);
  rotate: 90deg;
}

#bl {
  top: calc(100vh - var(--tab-size) - var(--tab-margin));
  left: var(--tab-margin);
  rotate: 270deg;
}

#br {
  top: calc(100vh - var(--tab-size) - var(--tab-margin));
  right: var(--tab-margin);
  rotate: 180deg;
}
