:root,
::backdrop {
  --fs-xs: 1rem;
  --fs-s: 1.15rem;
  --fs-m: 1.5rem;
  --fs-ml: 2rem;
  --fs-l: 3rem;
  --fs-xl: 5rem;

  /* Default dark theme */
  color-scheme: dark;
  --clr-bg: #141217;
  --clr-bga: #acb0bd;
  --clr-t: #d0d1d9;
  --clr-tl: #a0a1a9;
  --clr-bdr: #8899aa;
  --clr-a: #0b3948;
  --clr-ah: #416165;
  --clr-aht: var(--bg);
  --clr-c: #e0e8f0;
  --clr-f: #cccccc;
  --clr-m: #ffdd33;
  --clr-d: #111111;
}

img,
video {
  opacity: 0.8;
}

@media (prefers-color-scheme: light) {

  :root,
  ::backdrop {
    /* Default light theme */
    color-scheme: light;
    --clr-bg: #f0f1f9;
    --clr-bga: #bcc0cd;
    --clr-t: #141217;
    --clr-tl: #a0a1a9;
    --clr-a: #416165;
    --clr-ah: #0b3948;
    --clr-aht: var(--bg);
    --clr-c: #e0e8f0;
    --clr-f: #cccccc;
    --clr-d: #111111;
  }

  img,
  video {
    opacity: 1;
  }
}

body {
  color: var(--clr-t);
  background: var(--clr-bg);
  font-size: var(--fs-s);
}

h1 {
  font-size: var(--fs-xl);
}

h2 {
  font-size: var(--fs-l);
}

h3 {
  font-size: var(fs--m);
}

h4 {
  font-size: var(fs--m);
}

h5 {
  font-size: var(fs--m);
}

h6 {
  font-size: var(fs--m);
}

h1,
h2,
h3 {
  line-height: 1.1;
}

a,
a:visited {
  color: var(--clr-a);
}

a:hover {
  text-decoration: none;
}
