:root {
  color-scheme: dark;

  --clr-txt: white;
  --clr-bg: black;
  --clr-acc: goldenrod;
}

:root[theme="light"] {
  color-scheme: light;

  --clr-txt: black;
  --clr-bg: white;
  --clr-acc: goldenrod;
}

html {
  color: var(--clr-txt);
  background: var(--clr-bg);
  accent-color: var(--clr-acc);
}
