:root {
  color-scheme: dark;

  --clr-txt: #e6e6e6;
  --clr-bg: #121212;
  --clr-acc: #884488;
}

:root[theme="light"] {
  color-scheme: light;

  --clr-txt: #121212;
  --clr-bg: #e6e6e6;
  --clr-acc: #884488;
}

html {
  color: var(--clr-txt);
  background: var(--clr-bg);
  accent-color: var(--clr-acc);
}
