package components

templ GridPattern() {
	<svg
		class="grid-pattern"
		width="100"
		height="100"
		viewBox="0 0 100 100"
	>
		<defs>
			<pattern id="grid-pattern" width=".125" height=".125">
				<rect height="5" width="1" x="2"></rect>
				<rect height="1" width="5" y="2"></rect>
			</pattern>
		</defs>
		<rect fill="url(#grid-pattern)" width="100" height="100"></rect>
	</svg>
}
